<section id="about" class="pages" ng-swipe-left="go('/examples', 'slide')" ng-swipe-right="go('/','slide')">
  <div class="area">
    <h1>ABOUT ME</h1>
    <p class="lede">
      <strong>Hi there</strong>! My name is Ben and I enjoy dabbling in the end-to-end process of web development. When I'm not handcrafting the <strong>user experience</strong>, or developing the <strong>front-end</strong>, you'll find me on the golf course <em>attempting</em> to shoot par.
    </p>
  </div>
  <hr class="vr">
  <div class="area">
    <h2>Education</h2>
    <ul class="education">
      <li class="degree"><strong>Human-Computer Interaction</strong></li>
      <li class="level"><em>Master's (Expected 06/16)</em></li>
      <li class="school">DePaul University</li>
    </ul>
    <ul class="education">
      <li class="degree"><strong>Graphic Design</strong></li>
      <li class="level"><em>Bachelor's</em></li>
      <li class="school">2006 / Southern Illinois University</li>
    </ul>
  </div>
  
  <hr class="vr">
  
  <div class="area"><h2>Experience</h2>
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Lead Creative Technologist | User Experience Team</strong></li>
        <li class="job-company"><em>Allstate, Northbrook</em></li>
        <li class="job-timeframe">(Oct. 2014&ndash;Present)</li>
      </ul>
      
      <div class="job-summary">Responsible for designing, structuring and collaborating with visual and 
      experience designers to create the first in-house enterprise UI Kit. Implemented support structure, 
      on-boarding documents, process flows and created a living styleguide code snippet library. 
      Oversaw direct reports on multiple projects implementing the current responsive web brand standards. </div>
      
      <ul class="job-description">
        <li>Garnered relationships with key leaders to incorporate a home grown UI pattern library based on experience and visual design standards</li>
        <li>Educated an eight person team in current technologies and multi-device web development while guiding the transition from waterfall to agile</li>
        <li>Founded and growing today's 9 person creative technologist team</li>
        <li>On-boarded, trained, and oversaw 6 teams since the inception of the Allstate RWD UI Kit</li>
      </ul>
    </section>
  
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Senior User Experience Architect</strong></li>
        <li class="job-company"><em>Allstate, Northbrook</em></li>
        <li class="job-timeframe">(Oct. 2011&ndash;Oct. 2014)</li>
      </ul>
      
      <div class="job-summary">Responsible for devising strategies, design solutions and interactions centered 
      around multiple user bases, communicating ideas to business while closely collaborating with visual designers, 
      technologists and project managers incorporating user journeys, wireframes, annotations and prototypes 
      based on early contextual interviews.</div>
      
      <ul class="job-description">
        <li>Communicated throughout organizational levels to promote and lead the implementation of 2 responsive websites; increasing mobile adoption 100% moving agents from desktop software to multi-device web based tools</li>
        <li>Organized and conducted rapid contextual user sessions</li>
        <li>Partnered with stakeholders, project managers, designers and developers from conceptualization through execution</li>
        <li>Collaboratively designed sitemaps, wireframes/prototypes and user flows</li>
        <li>Presented wireframe walkthroughs with business partners and stakeholders, documented changes and incorporated into future design iterations</li>
      </ul>
    </section>
    
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Web Developer</strong></li>
        <li class="job-company"><em>@properties, Chicago</em></li>
        <li class="job-timeframe">(Apr. 2009&ndash;Oct. 2011)</li>
      </ul>
      <ul class="job-description"><li>Maintenance, configuration and development of both public facing and intranet web apps</li>
      <li>Large scale PHP development incorporating HTML/CSS and MySQL</li>
      <li>Worked on creating and maintaining database architecture to bring rich applications live</li>
      <li>Summative guerrilla usability testing with associated real estate agents</li>
    </ul>
  </section>
  <section class="experience">
    <ul class="job-header">
      <li class="job-title"><strong>Web Developer / Designer</strong></li>
      <li class="job-company"><em>Freelance</em></li>
      <li class="job-timeframe">(Oct. 2006&ndash;Present)</li>
      </ul>
    <ul class="job-description">
      <li>Conceptualized branding design standards and developed websites for various clients</li>
      <li>Created low fidelity wireframes into high fidelity final web apps</li>
      <li>Continued upkeep and programming of websites following today's evolving web standards</li>
      <li>Continued work on modularizing HTML5/CSS3 standards into my current front-end design practice to create a consistent User Interface (UI) and Visual Design (VD)</li>
      </ul>
    </section>
  </div>
</section>
