<section id="about" class="pages" ng-swipe-left="go('/examples', 'slide')" ng-swipe-right="go('/','slide')">
  <div class="area">
    <h1>ABOUT ME</h1>
    <p class="lede">
      I help teams discover obstacles, explore alternatives and inspire creative problem solving. I thrive on feedback, continuous improvement, and a collaborative effort and have become a change agent for enterprise teams shifting to a lean product mindset. I have found my passion bringing my UX, technology, strategic and design thinking approach to <strong>build, coach a mentor teams and individuals</strong>.
    </p>
  </div>
  <hr class="vr">
  <div class="area">
    <h2>Education/Certification</h2>
    <ul class="education">
      <li class="degree"><strong>Human-Computer Interaction</strong></li>
      <li class="level"><em>Master's (Expected 06/16)</em></li>
      <li class="school">DePaul University</li>
    </ul>
    <ul class="education">
      <li class="degree"><strong>Graphic Design</strong></li>
      <li class="level"><em>Bachelor's</em></li>
      <li class="school">2006 / Southern Illinois University</li>
    </ul>
    <ul class="education">
      <li class="degree"><strong>LUMA Institute Certified Practitioner</strong></li>
      <li class="level"><em>Practitioner of Human-Centered Design</em></li>
      <li class="school">2016</li>
    </ul>
  </div>
  
  <hr class="vr">
  
  <div class="area"><h2>Experience</h2>
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Manager Creative Technologist's | User Experience Team</strong></li>
        <li class="job-company"><em>Allstate, Northbrook/Chicago</em></li>
        <li class="job-timeframe">(Feb. 2016&ndash;Present)</li>
      </ul>
      
      <div class="job-summary">Helped to established today’s front-end engineering team while working with each 
        UX director to formalize enterprise UX engagement. Supported and coached direct reports across the enterprise,
        empowered multi-disciplinary teams and acted as a change agent for lean development and user centered 
        design within a continuously evolving business.  
      </div>
      
      <ul class="job-description">
        <li>Collaboratively grew a team from 3 to ~59 employees; recruiting an experienced, diverse team to 
          drive an enterprise design ecosystem
        </li>
        <li>Built and manage a team of 12, maintaining relationships with contractors and vendors while handling team reviews, budgets and team strategy </li>
        <li>Established and drove front-end engineers within a spin-off innovation hub at a new downtown office to support UX & enterprise strategy</li>
        <li>Lead multidisciplinary teams practicing lean XP methodology and acted as a change agent aligning various methodologies within project teams to coexist with enterprise adoption of lean development and design </li>
      </ul>
    </section>
    
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Lead Creative Technologist | User Experience Team</strong></li>
        <li class="job-company"><em>Allstate, Northbrook</em></li>
        <li class="job-timeframe">(Oct. 2014&ndash;June 2016)</li>
      </ul>
      
      <div class="job-summary">Led an enterprise initiative for designing, structuring and collaborating with
        visual and experience designers to create the first in-house enterprise component library. 
        Implemented support structure, on-boarding documents, process flows and created a living styleguide 
        code snippet website. 
      </div>
      
      <ul class="job-description">
        <li>Guiding a multidisciplinary UX team to connect disparate systems, simplify user input and arm our users with smart data through intelligent designGarnered relationships with key leaders to incorporate a home grown UI pattern library based on experience and visual design standards</li>
        <li>Garnered relationships with key leaders to incorporate a home grown UI pattern library based on experience and visual design standards</li>
        <li>Educated an eight person team in current technologies and multi-device web development while guiding the transition from waterfall to agile</li>
        <li>Founded the UI team within the UX department and designed standards and best practices for enterprise direction</li>
      </ul>
    </section>
  
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Senior User Experience Architect</strong></li>
        <li class="job-company"><em>Allstate, Northbrook</em></li>
        <li class="job-timeframe">(Oct. 2011&ndash;Oct. 2014)</li>
      </ul>
      
      <div class="job-summary">Responsible for devising strategies, design solutions and interactions 
        centered around multiple user bases, communicating ideas to business while closely 
        collaborating with visual designers, technologists and project managers incorporating 
        user journeys, wireframes, annotations and prototypes. Focused user centered research 
        with contextual inquiries, interviews and iterative usability tests.
      </div>
      
      <ul class="job-description">
        <li>Communicated throughout organizational levels to promote and lead the implementation of 2 responsive websites; increasing mobile adoption 100% moving agents from desktop software to multi-device web based tools</li>
        <li>Organized and conducted rapid contextual user sessions</li>
        <li>Partnered with stakeholders, project managers, designers and developers from conceptualization through execution</li>
        <li>Collaboratively designed sitemaps, wireframes/prototypes and user flows</li>
        <li>Presented wireframe walkthroughs with business partners and stakeholders, documented changes and incorporated into future design iterations</li>
      </ul>
    </section>
    
    <section class="experience">
      <ul class="job-header">
        <li class="job-title"><strong>Web Developer</strong></li>
        <li class="job-company"><em>@properties, Chicago</em></li>
        <li class="job-timeframe">(Apr. 2009&ndash;Oct. 2011)</li>
      </ul>
      <ul class="job-description"><li>Maintenance, configuration and development of both public facing and intranet web apps</li>
      <li>Large scale PHP development incorporating HTML/CSS and MySQL</li>
      <li>Worked on creating and maintaining database architecture to bring rich applications live</li>
      <li>Summative guerrilla usability testing with associated real estate agents</li>
    </ul>
  </section>
  <section class="experience">
    <ul class="job-header">
      <li class="job-title"><strong>Web Developer / Designer</strong></li>
      <li class="job-company"><em>Freelance</em></li>
      <li class="job-timeframe">(Oct. 2006&ndash;Present)</li>
      </ul>
    <ul class="job-description">
      <li>Conceptualized branding design standards and developed websites for various clients</li>
      <li>Created low fidelity wireframes into high fidelity final web apps</li>
      <li>Continued upkeep and programming of websites following today's evolving web standards</li>
      <li>Continued work on modularizing HTML5/CSS3 standards into my current front-end design practice to create a consistent User Interface (UI) and Visual Design (VD)</li>
      </ul>
    </section>
  </div>
</section>
